.name {
  font-size: 120px;
  margin-left: 150px;
  margin-bottom: 100px;
  font-family: "NTR";
  font-weight: 900;
  font-display: fallback;
  src: url("../font/NTR-Regular.ttf") format("truetype");
  font-weight: 800;
  font-optical-sizing: none;

}

#ME-nav {

  margin-bottom: 0px;
  margin-top: 220px;
  padding-top: 100px;



}



.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  font-weight: 900;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 120px;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}


.anim-typewriter {
  animation: typewriter 30s steps(60) 1s 1 normal both,
    blinkTextCursor 500ms steps(60) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 20em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #FFA500;
  }

  to {
    border-right-color: transparent;
  }
}




* {
  color: #000;

}

.section-title {
  color: #0077B5
}

.name-color {
  color: rgb(31, 59, 90);
}

.cursor {
  position: relative;
  margin-left: 7px;

}

.cursor i {
  position: absolute;
  width: 5px;
  height: 40%;
  background-color: #FFA500;
  left: 5px;
  top: 25%;
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  opacity: 1;

}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.cursor input:focus+i {
  display: none;
}

.svg {
  margin-right: 5px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.intro-subtitle {
  margin-top: -140px;
  font-weight: 200;
  font-size: 50px;
  color: rgb(185, 185, 185);
}

.intro-contact {
  width: 110px;
  margin-top: -120px;
  font-size: 22px;
  font-weight: bolder;
  font-family: "NTR", sans-serif;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  cursor: pointer;
  border: 1px solid #FFA500;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.intro-desc {
  font-weight: lighter;
  font-size: 20px;
  width: 600px;
  color: rgb(141, 139, 139);
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}



/* Animation */











@media only screen and (max-width: 600px) {
  #intro {
    text-align: center;
    font-size: 8px;
  }

  .superTitle {
    margin-left: -600px;
  }

  .name {
    text-align: center;
    /* display: flex; */
    font-size: 40px;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 320px;
    font-family: "NTR";
    font-display: fallback;
    src: url("../font/NTR-Regular.ttf") format("truetype");
    font-optical-sizing: none;


  }

  .line-1 {
    margin-left: -315px;
    text-align: center;
    width: 24em;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-40%); */
  }


  .anim-typewriter {
    animation: typewriter 4s steps(80) 1s 1 normal both,
      blinkTextCursor 600ms steps(80) infinite normal;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }

    to {
      width: 8.6em;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(61, 80, 141, 0.75);
    }

    to {
      border-right-color: transparent;
      display: none;
    }
  }

  #ME-nav {

    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 200px;
  
  
  }




  .intro-subtitle {
    text-align: center;
    margin-top: -15px;
    font-size: 28px;
    color: rgb(185, 185, 185);
  }

  .intro-desc {
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    width: auto;
    margin-top: 7px;
    /* margin-left: 75px; */
    color: rgb(141, 139, 139);
  }

  .intro-contact {
    width: 110px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bolder;
    font-family: "NTR", sans-serif;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    cursor: pointer;
    border: 1px solid #FFA500;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}