.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-right: 5%;
  bottom: 10%;
  background-color: transparent;
  color: #0077B5;
}

.social-icon {
  padding-left: 10px;
  display: inline-flex;
  width: 100px;
  column-count: 3;
  flex-direction: row;
  flex: content;
  padding-top: 80px;
}

.mail,
.github,
.linkedin {
  flex: auto;

}



.fade-in-section {
  opacity: 1;
  -webkit-transform: translateY(10vh);
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity .6s ease-out, -webkit-transform 1s ease-out;
  transition: opacity .6s ease-out, transform 1s ease-out;
  transition: opacity .6s ease-out, transform 1s ease-out, -webkit-transform 1s ease-out;
  transition-delay: 0s, 0s, 0s;
  will-change: opacity, visibility;
  padding-bottom: 20px;
}

.sidebar-links a {
  text-decoration: none;
  color: #0077B5;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "NTR", sans-serif;
  letter-spacing: 0;
  line-height: .6em;
  font-size: 16px;
  padding: .2em;
  font-weight: 700;
  color: #0077B5;

}